@import "../help/variables";
@import "../help/mixins";

.grid-page-wrap.main-page {
  .main-section {
    .flex-center;
    .main-page-message {
      position: relative;
      z-index: 1;
      min-width: 200px;
      color: @mainFontColor;
      background-color: fade(@secondaryColor, 80%);
      border: 3px solid @mainFontColor;
      transition: all .3s;
      &:hover {
        color: @secondaryColor;
        background-color: fade(@secondaryFontColor, 90%);
        border: 3px solid @secondaryColor;
      }
      a {
        font-size: 1.5em;
        display: block;
        height: 100%;
        padding: 30px;
      }
    }
    .image-item {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      min-height: 350px;
      min-width: 320px;
      padding: 0;
      background: none no-repeat center center;
      background-size: cover;
      opacity: 0;
      z-index: 0;
      transition: all .5s, background-image 0s;
      &.image1 {
        background-image: url("../images/content/main/1.jpg");
      }
      &.image2 {
        background-image: url("../images/content/main/2.jpg");
      }
      &.image3 {
        background-image: url("../images/content/main/3.jpg");
      }
      &.image4 {
        background-image: url("../images/content/main/4.jpg");
      }
      &.image5 {
        background-image: url("../images/content/main/5.jpg");
      }
      &.image6 {
        background-image: url("../images/content/main/6.jpg");
      }
      &.image7 {
        background-image: url("../images/content/main/7.jpg");
      }
      &.image8 {
        background-image: url("../images/content/main/8.jpg");
      }
      &.current-image {
        opacity: 1;
        z-index: 1;
      }
    }
  }
}
